[submodule "Carthage/Checkouts/ethanol-utilities"]
	path = Carthage/Checkouts/ethanol-utilities
	url = ssh://git@github.com/Fueled/ethanol-utilities.git
[submodule "Carthage/Checkouts/CocoaLumberjack"]
	path = Carthage/Checkouts/CocoaLumberjack
	url = ssh://git@github.com/CocoaLumberjack/CocoaLumberjack.git
[submodule "Carthage/Checkouts/ethanol-tools"]
	path = Carthage/Checkouts/ethanol-tools
	url = ssh://git@github.com/Fueled/ethanol-tools.git
